<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- DB连接四要素 -->
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql:///dagang
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">nxl123</property>
		<!-- 方言 -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<!-- 当前session上下文 -->
		<property name="hibernate.current_session_context_class">
			thread
		</property>
		<!-- 自动建表 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 显示SQL -->
		<property name="hibernate.show_sql">true</property>
		<!-- 格式化SQL -->
		<property name="hibernate.format_sql">true</property>
		<mapping resource="entity/Admin.hbm.xml" />
		<mapping resource="entity/User.hbm.xml" />
		<mapping resource="entity/JobInfo.hbm.xml" />
		<mapping resource="entity/JobCate.hbm.xml" />
		<mapping resource="entity/LawInfo.hbm.xml" />
		<mapping resource="entity/LawInfoCate.hbm.xml" />
	</session-factory>
</hibernate-configuration>